<!DOCTYPE html>
<html>

<head>
    <% include ./layout/header %>
</head>

<body>
    <% include ./layout/navbar %>
        <!-- Begin Content  -->
        <div class="container">
            <div class="row page-header">
                <div class="col-lg-12">
                    <h1><%=location.name%></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <p class="rating">
                                <%for (var i = 1 ; i < 5 ; i ++){
                                    if(i <= location.rating){%>
                                        <span class="glyphicon glyphicon-star"></span>
                                    <%} else {%>
                                        <span class="glyphicon glyphicon-star-empty"></span>
                                    <%}
                                }%>
                                <p><%=location.address %></p>
                            </p>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Open hours</h2>
                                </div>
                                <div class="panel-body">
                                    <%for(var i = 0 ; i < location.openingTimes.length ; i++){
                                        if(location.openingTimes[i].closed == true){%>
                                            <p><%=location.openingTimes[i].days + ' : closed'%></p>
                                        <%} else {%>
                                            <p><%=location.openingTimes[i].days + ' : ' + location.openingTimes[i].opening + ' - ' + location.openingTimes[i].closing%></p>
                                        <%}
                                    }%>                                   
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Facilities</h2>
                                </div>
                                <div class="panel-body">
                                    <%for(var i = 0 ; i < location.facilities.length ; i++){%>
                                        <span class="label label-warning"><span class="glyphicon glyphicon-ok"><%=location.facilities[i]%></span></span>
                                    <%}%>    
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 location-map">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Location Map</h2>
                                </div>
                                <div class="panel-body">
                                    <img src="<%='https://maps.googleapis.com/maps/api/staticmap?center='+location.coords.lat+','+location.coords.lng+'&zoom=14&sensor=false&size=580x400&scale=1&markers='+location.coords.lat+','+location.coords.lng%>"
                                    class="img-responsive img-rounded" height="auto">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-primary review-panel">
                                <div class="panel-heading">
                                    <a class="btn btn-default pull-right" href="<%='/location/'+location._id+'review/new%>">Add review</a>
                                    <h2 class="panel-title"> Customer reviews</h2>
                                </div>
                                <div class="panel-body review-container">
                                <%for(var i = 0 ; i < location.reviews.length ; i++){
                                    var review = location.reviews[i];
                                 %>
                                    <div class="row">
                                        <div class="review">
                                            <div class="well well-sm review-header">
                                                <span class="rating">
                                                
                                            <%for(var j = 1; j <= 5 ; j++){
                                                if(j <= review.rating){%>
                                                    <span class="glyphicon glyphicon-star"></span>
                                                <%} else {%>
                                                    <span class="glyphicon glyphicon-star-empty"></span>
                                                <%}
                                            } %>
                                                </span>
                                                <span class="reviewAuthor"> <%=review.author%></span>
                                                <small class="reviewTimestamp"><%=review.createdOn%></small>
                                            </div>
                                            <div class="col-xs-12">
                                                <p><%=review.reviewText%></p>
                                            </div>
                                        </div>
                                    </div>
                                <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <p class="lead"><%=location.name + ' '+ sidebar.context%></p>
                    <p><%=sidebar.callToAction%></p>
                </div>
            </div>
        </div>

        <!-- end Content  -->
        <footer>
            <% include ./layout/footer %>
        </footer>
</body>

</html>